header {
    background-color:rgb(201, 150, 248);
    color: yellow;
    padding: 20px 0;
}
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
    background-color: rgb(201, 150, 248);
    padding: 20px 0;
}
nav {
    position: absolute;
    top: 50px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 15px;
    margin-right: 20px;
}
nav a{
    color: yellow;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
nav a:hover{
    color: rebeccapurple;
}
body{
    background-color: bisque;
}
.paginas{
    text-align: center;
    margin: 30px 0 0 0;
}

.paginas a{
    text-decoration: none;
    color: yellow;
    background-color: blueviolet;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
}
.paginas a:hover{
    background-color: rgb(184, 133, 233);
    padding: 12px 12px 12px 12px;
    font-size: 17px;
}
.paginas li{
    display: inline;
    margin: 0 15px 20px 15px; 
}

.titulo-planos{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 20px 10px;
    margin-top: 30px;
}

.lista-main{
    margin-top: 20px;
}

.texto{
    font-size: 20px;
    font-weight: bold;
    padding: 22px;
    text-align: center;
}

.item{
    margin: 60px 35% 20px 35%;
    background-color:white;
    border-radius: 15px;
    box-shadow: 0.625rem 0.313rem 0.313rem rebeccapurple;
}

.item2{
    margin:0 35% 0 35%;
    background-color:white;
    border-radius: 15px;
    box-shadow: 0.625rem 0.313rem 0.313rem rebeccapurple;
}

.item3{
    margin:20px 35% 0 35%;
    background-color:white;
    border-radius: 15px;
    box-shadow: 0.625rem 0.313rem 0.313rem rebeccapurple;
}

.item4{
    margin:20px 35% 0 35%;
    background-color:white;
    border-radius: 15px;
    box-shadow: 0.625rem 0.313rem 0.313rem rebeccapurple;
}

.item5{
    margin:20px 35% 0 35%;
    background-color:white;
    border-radius: 15px;
    box-shadow: 0.625rem 0.313rem 0.313rem rebeccapurple;
}

.item6{
    margin:20px 35% 60px 35%;
    background-color:white;
    border-radius: 15px;
    box-shadow: 0.625rem 0.313rem 0.313rem rebeccapurple;
}

.voltar{
    margin-left: 45%;
    display: inline-block;
    list-style: none;
    text-decoration: none;
    font-size: 1, 25rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    color: yellow;
    background-color: blueviolet;
    border-radius: 4rem;
    margin-bottom: 2rem;
  }

footer{
    background: rgb(201, 150, 248);
    width: 100%;
    height: 100px;
    position: relative;
    bottom: 0;
    left: 0;
    text-align: center;
    color: rgb(252, 216, 169);
}

@media screen and (max-width:480px){
    .caixa, footer {
        width: auto;
    }
    .voltar{
        margin: 20px 0 30px 32%;
    }
    .item, .item2, .item3, .item4, .item5, .item6{
        margin: 30px 10% 10px 10%;
    }

    
}